
        .clearfix::before,
        .clearfix::after {
            content: '';
            display: table;
            clear: both;
        }

        * {
            margin: 0;
            padding: 0;
        }

        body {
            overflow-x: hidden;
        }

        .top-bar-wrapper {
            width: 100%;
            height: 32px;
            background-color: rgb(242, 242, 242);


        }

        .top-bar {
            width: 1230px;


        }

        .left-bar {
            color: #999;
            line-height: 32px;
            letter-spacing: 1px;
            font-size: 3px;
        }

        .left-bar a {
            color: #999;
            text-decoration: none;
            padding: 0 20px;
            float: left;
            font-size: 14px;

        }

        .left-bar a:hover {
            color: rgb(255, 0, 54);
        }

        .left-bar span {
            float: left;
            font-size: 14px;
        }

        .right-bar {
            float: right;
            line-height: 32px;
        }

        .right-bar li {
            float: left;
            list-style: none;
            font-size: 3px;

        }

        .right-bar a {
            color: #999;
            text-decoration: none;
            font-size: 14px;
        }

        .right-bar i {
            color: #f10125;
        }

        .right-bar a:hover {
            color: #f10125;
        }

        .right-bar .line {
            width: 1px;
            height: 10px;
            background-color: #999;
            margin: 12px 20px;
        }

        .logo {
            margin-top: 40px;
            margin-left: 150px;
            margin-right: 80px;
            height: 100px;
            width: 130px;
            float: left;
        }

        .logo img {
            width: 100%;
            float: left;
        }


        .search-m {
            float: left;
            height: 44px;
            width: 552px;
            margin-top: 60px;
            margin-left: 76px;
        }

        .top-nav-search {
            width: 552px;
            position: relative;
            height: 48px;
        }

        .top-nav-form {

            overflow: hidden;
            float: left;
        }

        .top-nav-form input:focus {
            outline: none;
        }

        .ts_txt {
            float: left;
            width: 462px;
            height: 48px;
            line-height: 48px;
            border: none;
            font-size: 14px;
            color: #666;
            background: #f7f7f7;
            padding: 0 15px;

        }


        .ts_btn {
            float: right;
            width: 58px;
            height: 48px;
            border: none;
            border-radius: 0 5px 5px 0;
            background-image: url(https://s10.mogucdn.com/mlcdn/c45406/181205_2llkjh1g0fe27h51ahh5k5f27gkk9_116x96.png);
            background-repeat: no-repeat;
            background-size: 100%
        }

        .menu {
            width: 1210px;
        }

        .cw-icon {
            margin-top: 60px;
            float: left;
            position: relative;
            border: 1px solid #e3e4e5;
            height: 50px;
            line-height: 50px;
        }

        .cw-icon a {
            text-decoration: none;
            color: #f10125;
            display: inline-block;
        }

        .cw-icon .fa {
            color: #f10125;
        }

        .cw-icon .ci-count {
            position: absolute;
            top: 6px;
            left: 10px;
            right: auto;
            display: inline-block;
            color: #fff;
            border-radius: 7px;
            background-color: #e1251b;
            min-width: 12px;
            padding: 1px 3px;
            height: 15px;
            line-height: 15px;
        }




        .mainNav{
            width: 1210px;
            height: 36px;
            line-height: 36px;
            margin-left: 122px;
            position: relative;
        }



        .mainNav .right-nav ul li{
            list-style: none;
            float: left;
            padding: 0 15px;
            font-weight: bold;

        }

        .mainNav .icon{
            margin-left: 5px;
        }

        .mainNav .right-nav .title-infomation:hover{
            background-color: rgb(217,217,217);
            cursor: pointer;
        }

        .mainNav .right-nav a:hover{
            color: firebrick;
        }



        .mainNav .right-nav{
            background-color: #fff;
            width: 0;
            height: 0;
            position: absolute;
            top:36px;
            left: -2px;
            z-index: 9999;
            transition: height .5s;
            overflow: hidden;

        }

        .mainNav .li-item:hover .right-nav{
            width: 698px;
            height: 300px;

        }





        .mainNav .right-nav ul li a{
            color: rgb(102,102,102)
        }

        .mainNav .right-nav  ul li .fa:first-child{
            color: rgb(102,102,102);
        }



        .mainNav > .li-item{
            background:firebrick;
            padding: 0;
        }


        .mainNav > .li-item-2{
            background: #1d1d1d;
            padding: 0 15.5px;
        }

       .mainNav > li{
           float: left;
           list-style: none;

       }
        .mainNav > li a{
            color: #ffffff;
            text-decoration: none;
        }



        .top-bar-menu{
            margin-top: 8px;
            width: 1210px;
        }

        .mainNav li .fa{
            padding: 0 20px;
            color: #fff;
        }

        .part{
            width: 824px;
            height: 600px;
            margin-left: 120px;
        }

        .content{
            margin-left: 135px;
        }
        .title1{
            margin-left: 245px;
        }

        .title-content {
            width: 1128px;
            margin-left: 58px;
        }

        .title-content a img{
            width: 238px;
            float: left;
        }

        .productList .left-bar a{
            text-decoration: none;
            display: block;
            color:#666666;
            font-size: 14px;

        }
        .title-Category:nth-child(-n+6):nth-child(n){
            padding: 5px;
            font-size: 16px;
            color: firebrick;
        }
        .title-Category:nth-child(-n+14):nth-child(n+6){
            padding: 5px;
            font-size: 16px;
            color: #2c64b1;
        }
        .left-information{
            margin-left: 121px;
            height: 930px;
            width: 215px;
            border:solid 1px #e4e4e4;
            color:#666666;
            font: 12px tahoma, Arial, Verdana, sans-serif;
            position: relative;

        }

        .left-information ul li{
            float: left;
            margin: 10px 20px;
        }

        .left-information ul li a:hover{
            color: firebrick;
        }

        li{
            list-style: none;
        }

        .right-product{
            width: 590px;
            position: absolute;
            top: 226px;
            left: 490px;
        }

        .right-product .buy-img img{
            height: 300px;

        }
        .buy-img{
            border: 1px solid #e4e4e4;
        }

        .right-content{
            position: absolute;
            top: 0;
            right: 0;
            width: 289px;
        }



        .outer-add{
            text-align: center;
        }

        .sur-input{
            width: 30px;
        }

        a.add-to-cart{
            height: 50px;
            background-color: #ff0036;
            color:#fff;
            font-size: 16px;
            text-decoration: none;
            display: block;
            line-height: 16px;
            padding:15px 0;
        }

        .info-title{
            text-align: center;
        }

        .right-content>div{
            color: #616161;
            font-size: 8px;
        }

        .right-content>div>span{
            color: red;
        }

        .right-content>dl>dd>del{
            color: firebrick;
        }

        .right-content>dl>dd{
            color: #888888;
        }

        .right-content dl dd>span{
            color: #ef0101;
        }

        .sur-input{
            margin-bottom: 10px;
            margin-left: 20px;
        }

        .outer-add{
            margin-top: 30px;
        }
        .outer-add:hover{
            cursor: pointer;
        }

        .info-title{
            display: block;
            margin-bottom: 38px;
        }
        .fa-heart{
            margin-left:10px ;
            cursor: pointer;
        }