<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>蘑菇街-剁手节</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/partialviewslider.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/partialviewslider.js"></script>
</head>
<body>

<div class="top-bar-wrapper">
    <div class="top-bar">
        <div class="left-bar">
            <span>hi,欢迎来蘑菇街</span>
            <a href="login.html">请登录</a>
            <a href="register.html">免费注册</a>
        </div>

        <ul class="right-bar">
            <li><a href="javascript:;">
                <i class="fa fa-home"></i>
                首页
            </a></li>
            <li class="line"></li>
            <li><a href="javascript:;">
                <i class="fa fa-shopping-bag"></i>
                商城
            </a></li>
            <li class="line"></li>
            <li><a href="javascript:;">我的订单</a></li>
            <li class="line"></li>
            <li><a href="javascript:;">关于我们</a></li>
        </ul>
    </div>
</div>

<div class="menu">
    <a class="logo" href="javascript:;"><img src="../static/img/mogulogo.png" alt=""></a>
    <div class="search-m clearfix">
        <div class="top-nav-search">
            <form class="top-nav-form" action="" method="get">
                <input class="ts_txt" type="text" placeholder="外套" name="q">
                <input class="ts_btn" type="submit" value="">
            </form>
        </div>
    </div>
    <div class="cw-icon">
        <i class="fa fa-shopping-cart"></i>
        <a href="javascript:;">我的购物车</a>
        <i class="ci-count">0</i>
    </div>
</div>


<div class="content clearfix">

    <div class="top-bar-menu">
        <ul class="mainNav">
            <li class="li-item">
                <a href="javascript:;" style="padding-left: 12px;">查看所有分类</a>
                <i class="fa fa-th-list"></i>

                    <div class="right-nav">
                        <ul class="clearfix">
                            <li class="title-infomation">女装男装<i class="fa fa-angle-right icon"></i> </li>
                            <li><a href="">潮流女装</a></li>
                            <li><a href="">初冬羽绒</a></li>
                            <li><a href="">毛呢大衣</a></li>
                            <li><a href="">温暖毛衣</a></li>
                            <li><a href="">精选男装</a></li>
                        </ul>

                        <ul class="clearfix">
                            <li class="title-infomation">鞋靴箱包 <i class="fa fa-angle-right"></i></li>
                            <li><a href="">短靴</a></li>
                            <li><a href="">男鞋</a></li>
                            <li><a href="">女包</a></li>
                            <li><a href="">男包</a></li>
                            <li><a href="">服饰配件</a></li>
                        </ul>

                        <ul class="clearfix">
                            <li class="title-infomation">运动户外 <i class="fa fa-angle-right"></i></li>
                            <li><a href="">运动服饰</a></li>
                            <li><a href="">户外运动</a></li>
                            <li><a href="">健身装备</a></li>
                            <li><a href="">骑行装备</a></li>
                            <li><a href="">烧烤用具</a></li>
                        </ul>

                        <ul class="clearfix">
                            <li class="title-infomation">手机数码 <i class="fa fa-angle-right"></i></li>
                            <li><a href="">手机</a></li>
                            <li><a href="">平板</a></li>
                            <li><a href="">电脑</a></li>
                            <li><a href="">相机</a></li>
                            <li><a href="">耳机</a></li>
                        </ul>

                        <ul class="clearfix">
                            <li class="title-infomation">生活用品 <i class="fa fa-angle-right"></i></li>
                            <li><a href="">大家电</a></li>
                            <li><a href="">厨房电器</a></li>
                            <li><a href="">生活电器</a></li>
                            <li><a href="">个护电器</a></li>
                            <li><a href="">办公耗材</a></li>
                        </ul>

                        <ul class="clearfix">
                            <li class="title-infomation">护肤彩妆 <i class="fa fa-angle-right"></i></li>
                            <li><a href="">美容护肤</a></li>
                            <li><a href="">强效保养</a></li>
                            <li><a href="">超值彩妆</a></li>
                            <li><a href="">香水</a></li>
                            <li><a href="">洗面奶</a></li>
                        </ul>

                        <ul class="clearfix">
                            <li class="title-infomation">珠宝配饰 <i class="fa fa-angle-right"></i></li>
                            <li><a href="">珠宝首饰</a></li>
                            <li><a href="">时尚饰品</a></li>
                            <li><a href="">品质手表</a></li>
                            <li><a href="">眼睛配饰</a></li>
                            <li><a href="">发饰</a></li>
                        </ul>

                    </div>


            </li>
            <li class="li-item-2"><a href="javascript:;">首页</a></li>
            <li class="li-item-2"><a href="products.html">女装男装</a></li>
            <li class="li-item-2"><a href="javascript:;">鞋靴箱包</a></li>
            <li class="li-item-2"><a href="javascript:;">运动户外</a></li>
            <li class="li-item-2"><a href="javascript:;">手机数码</a></li>
            <li class="li-item-2"><a href="javascript:;">生活用品</a></li>
            <li class="li-item-2"><a href="javascript:;">护肤彩妆</a></li>
            <li class="li-item-2"><a href="javascript:;">珠宝配饰</a></li>
        </ul>
    </div>
    <div class="part clearfix">
        <ul id="partial-view">
            <li><a href="javascript:;" target="_blank"><img src="../static/img/partial-view/mac.jpg"
                                                            title="Apple 2019新品 MacBook Pro 16【带触控栏】九代六核i7 16G 512G 深空灰 Radeon Pro 5300M 笔记本电脑 轻薄本"></a>
            </li>
            <li><a href="javascript:;" target="_blank"><img src="../static/img/partial-view/iphone.jpg"
                                                            title="Apple iPhone 11 Pro (A2217) 256GB 银色 移动联通电信4G手机 双卡双待"></a>
            </li>
            <li><a href="javascript:;" target="_blank"><img src="../static/img/partial-view/airpad.jpg"
                                                            title="Apple AirPods 蓝牙无线耳机 适用于iPhone7/8/X手机耳机"></a></li>
            <li><a href="javascript:;" target="_blank"><img src="../static/img/partial-view/ipad.jpg"
                                                            alt="智能驼 T90新款超薄平板电脑12寸安卓全网通4G手机平板二合一送华为小米pc笔记本电脑iPad耳机学生考研吃鸡"
                                                            title="智能驼 T90新款超薄平板电脑12寸安卓全网通4G手机平板二合一送华为小米pc笔记本电脑iPad耳机学生考研吃鸡"></a>
            </li>
            <li><a href="javascript:;" target="_blank"><img src="../static/img/partial-view/ajone.png"
                                                            alt="Jordan官方 AIR JORDAN 1 MID AJ1男子运动鞋 554724"
                                                            title="Jordan官方 AIR JORDAN 1 MID AJ1男子运动鞋 554724"></a></li>
            <li><a href="javascript:;" target="_blank"><img src="../static/img/partial-view/applewatchhead.jpg"
                                                            title="Apple Watch Series 5 GPS款 44毫米金色铝金属表壳 粉砂色运动型表带）"></a>
            </li>
        </ul>
    </div>

    <div class="clearfix">
        <div class="title1">
            <img src="../static/img/titile/title1.png" alt="">
        </div>
        <div class="title-content">
            <a href="javascript:;"><img src="../static/img/span-img/span1.jpg" alt=""></a>
            <a href="javascript:;"><img src="../static/img/span-img/span2.jpg" alt=""></a>
            <a href="javascript:;"><img src="../static/img/span-img/span3.jpg" alt=""></a>
            <a href="javascript:;"><img src="../static/img/span-img/span4.jpg" alt=""></a>
        </div>
        <div class="hot-shop clearfix">
            <div class="span1">
                热门商品
            </div>
        </div>

        <div class="cube-wrapper">
            <ul>
                <li>
                    <div class="item">
            <div class="img-list">
                <img src="../static/img/partial-view/mac.jpg" alt="">
            </div>
            <div class="shop-information">
                <ul>
                    <li>数量：仅剩<span>8</span>个</li>
                    <li>原价：<span>￥<del>18999.0</del></span></li>
                    <li>折扣价：<span>￥17888.0</span></li>
                    <li><button type="button" class="btn btn-danger buy">立即抢购</button></li>
                </ul>
            </div>
                    </div>
                </li>

                <li>
                    <div class="item">
            <div class="img-list">
                <img src="../static/img/partial-view/airpad.jpg" alt="">
            </div>
            <div class="shop-information">
                <ul>
                    <li>数量：仅剩<span>8</span>个</li>
                    <li>原价：<span>￥<del>599.0</del></span></li>
                    <li>折扣价：<span>588.0</span></li>
                    <li><button type="button" class="btn btn-danger buy">立即抢购</button></li>
                </ul>
            </div>
                    </div>
                </li>

                <li>
                    <div class="item">
            <div class="img-list">
                <img src="../static/img/partial-view/iphone.jpg" alt="">
            </div>
            <div class="shop-information">
                <ul>
                    <li>数量：仅剩<span>3</span>个</li>
                    <li>原价：<span>￥<del>6999.0</del></span></li>
                    <li>折扣价：<span>￥6288.0</span></li>
                    <li><button type="button" class="btn btn-danger buy">立即抢购</button></li>
                </ul>
            </div>
                    </div>
                </li>

                <li>
                    <div class="item">
            <div class="img-list">
                <img src="../static/img/partial-view/ajone.png" alt="">
            </div>
            <div class="shop-information">
                <ul>
                    <li>数量：仅剩<span>2</span>双</li>
                    <li>原价：<span>￥<del>1399.0</del></span></li>
                    <li>折扣价：<span>￥1288.0</span></li>
                    <li><button type="button" class="btn btn-danger buy">立即抢购</button></li>
                </ul>
            </div>
                    </div>
                </li>

                <li>
                    <div class="item">
            <div class="img-list">
                <img src="../static/img/partial-view/applewatchhead.jpg" alt="">
            </div>
            <div class="shop-information">
                <ul>
                    <li>数量：仅剩<span>7</span>个</li>
                    <li>原价：<span>￥<del>3499.0</del></span></li>
                    <li>折扣价：<span>￥3000.0</span></li>
                    <li><button type="button" class="btn btn-danger buy">立即抢购</button></li>
                </ul>
            </div>
                    </div>
                </li>


                <li>
                    <div class="item">
            <div class="img-list">
                <img src="../static/img/partial-view/clothes.jpg" alt="">
            </div>
            <div class="shop-information">
                <ul>
                    <li>数量：仅剩<span>5</span>件</li>
                    <li>原价：<span>￥<del>999.0</del></span></li>
                    <li>折扣价：<span>￥699.0</span></li>
                    <li><button type="button" class="btn btn-danger buy">立即抢购</button></li>
                </ul>
            </div>
                    </div>
                </li>

                <li>
                    <div class="item">
            <div class="img-list">
                <img src="../static/img/partial-view/shoes.jpg" alt="">
            </div>
            <div class="shop-information">
                <ul>
                    <li>数量：仅剩<span>6</span>双</li>
                    <li>原价：<span>￥<del>399.0</del></span></li>
                    <li>折扣价：<span>￥350.0</span></li>
                    <li><button type="button" class="btn btn-danger buy">立即抢购</button></li>
                </ul>
            </div>
                    </div>
                </li>

                <li>
                    <div class="item">
            <div class="img-list">
                <img src="../static/img/partial-view/nike.jpg" alt="">
            </div>
            <div class="shop-information">
                <ul>
                    <li>数量：仅剩<span>6</span>双</li>
                    <li>原价：<span>￥<del>428.0</del></span></li>
                    <li>折扣价：<span>￥400.0</span></li>
                    <li><button type="button" class="btn btn-danger buy">立即抢购</button></li>
                </ul>
            </div>
                    </div>
                </li>

                <li>
                    <div class="item">
            <div class="img-list">
                <img src="../static/img/partial-view/ipad.jpg" alt="">
            </div>
            <div class="shop-information">
                <ul>
                    <li>数量：仅剩<span>2</span>个</li>
                    <li>原价：<span>￥<del>2999.0</del></span></li>
                    <li>折扣价：<span>￥2899.0</span></li>
                    <li><button type="button" class="btn btn-danger buy">立即抢购</button></li>
                </ul>
            </div>
                    </div>
                </li>

                <li>
                    <div class="item">
            <div class="img-list">
                <img src="../static/img/partial-view/nikon.jpg" alt="">
            </div>
            <div class="shop-information">
                <ul>
                    <li>数量：仅剩<span>3</span>个</li>
                    <li>原价：<span>￥<del>7999.0</del></span></li>
                    <li>折扣价：<span>￥7850.0</span></li>
                    <li><button type="button" class="btn btn-danger buy">立即抢购</button></li>
                </ul>
            </div>
                    </div>
                </li>




            </ul>
        </div>
    </div>
</div>

<div class="footer">
    <div class="information">
        <ul>
            <li class="title-header">
                购物指南
            </li>
            <li>
                <a href="">购物流程</a>
            </li>
            <li>
                <a href="">常见问题</a>
            </li>
            <li>
                <a href="">联系客服</a>
            </li>
        </ul>
    </div>
    <div class="information">
        <ul>
            <li class="title-header">
                配送方式
            </li>
            <li>
                <a href="">上门自提</a>
            </li>
            <li>
                <a href="">配送服务查询</a>
            </li>
            <li>
                <a href="">211限时达</a>
            </li>
        </ul>
    </div>
    <div class="information">
        <ul>
            <li class="title-header">
                支付方式
            </li>
            <li>
                <a href="">货到付款</a>
            </li>
            <li>
                <a href="">在线支付</a>
            </li>
            <li>
                <a href="">分期付款</a>
        </ul>
    </div>
    <div class="information">
        <ul>
            <li class="title-header">
                售后服务
            </li>
            <li>
                <a href="">售后政策</a>
            </li>
            <li>
                <a href="">退款说明</a>
            </li>
            <li>
                <a href="">取消订单</a>
            </li>
        </ul>
    </div>
    <div class="information">
        <ul>
            <li class="title-header">
                联系我们
            </li>
            <li>
                <i class="fa fa-map-marker"></i>
                <span>Address：湖南工学院</span>
            </li>
            <li>
                <i class="fa fa-envelope"></i>
                <span>Mail Us：572354941@qq.com</span>
            </li>
            <li>
                <i class="fa fa-phone"></i>
                <span>Phone:17347014473</span>
            </li>
        </ul>
    </div>

    <div class="copyright clearfix">Copyright &copy; 2020 湖南工学院 版权所有</div>
</div>


<script>
    $(document).ready(function () {
        $('#partial-view').partialViewSlider();
    });
</script>
</body>
</html>