<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="login_wrap ">
    <div class="logo_wrap">
        <div class="logo">
            <a href="#"><img src="../static/img/mogulogo.png" alt=""></a>
            <span class="login-logo-tip">依《网络安全法》相关要求，即日起蘑菇街会员登陆需绑定手机。为保障您的账户安全及正常使用，如您尚未绑定，请尽快完成绑定，感谢您的理解和支持!</span>
        </div>
    </div>
    <div class="content clearfix">
        <div class="lg_banner">
            <a href="" target="_blank"></a>
        </div>
        <div class="lg_box-wrap">
            <div class="lg_box">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="firstname" class="col-sm-2 control-label">账号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstname"
                               placeholder="请输入账号">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastname"
                               placeholder="请输入密码">
                    </div>
                </div>

                <div class="form-group code">
                    <label for="firstname" class="col-sm-3 control-label">验证码</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="firstname"
                               placeholder="验证码">
                               <img src="../static/img/codeimg/img1.jpg" alt="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-danger">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
    <div class="foot">
        <ul class="clearfix foot-bar">
            <li><a href="javascript:;">关于我们</a></li>
            <li class="line clearfix"></li>
            <li><a href="javascript:;">招聘信息</a></li>
            <li class="line"></li>
            <li><a href="javascript:;">联系我们</a></li>
            <li class="line"></li>
            <li><a href="javascript:;">商家入驻</a></li>
            <li class="line"></li>
            <li><a href="javascript:;">商家后台</a></li>
            <li class="line"></li>
            <li><a href="javascript:;">规则中心</a></li>
            <li class="line"></li>
            <li><a href="javascript:;">规则众议院</a></li>
            <li class="line"></li>
            <li><a href="javascript:;">有害信息举报</a></li>
            <li class="line"></li>
            <li><a href="javascript:;">用户隐私保护</a></li>
            <li class="line"></li>
            <li><a href="javascript:;">意见反馈</a></li>
        </ul>

        <div class="copyright clearfix">Copyright &copy; 2020 湖南工学院 版权所有</div>
</div>
    </div>
</body>
</html>