<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/buy.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.0/css/all.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/jQuery_Plugin/jquery-ui.min.js"></script>
    <script src="../static/js/flyto.js"></script>
    <script>
        $(function () {
            var $heart=$(".fa-heart")
            $heart.click(function () {
                if ($heart.css("color") === "rgb(97, 97, 97)")
                {
                    $heart.css("color","red");
                }
                else{
                    $heart.css("color","rgb(97, 97, 97)")
                }
            })
        })
    </script>
</head>
<body>
<div class="top-bar-wrapper">
    <div class="top-bar">
        <div class="left-bar">
            <span>hi,欢迎来蘑菇街</span>
            <a href="login.html">请登录</a>
            <a href="register.html">免费注册</a>
        </div>

        <ul class="right-bar">
            <li><a href="index.html">
                <i class="fa fa-home"></i>
                首页
            </a></li>
            <li class="line"></li>
            <li><a href="javascript:;">
                <i class="fa fa-shopping-bag"></i>
                商城
            </a></li>
            <li class="line"></li>
            <li><a href="javascript:;">我的订单</a></li>
            <li class="line"></li>
            <li><a href="javascript:;">关于我们</a></li>
        </ul>
    </div>
</div>

<div class="menu">
    <a class="logo" href="javascript:;"><img src="../static/img/mogulogo.png" alt=""></a>
    <div class="search-m clearfix">
        <div class="top-nav-search">
            <form class="top-nav-form" action="" method="get">
                <input class="ts_txt" type="text" placeholder="外套" name="q">
                <input class="ts_btn" type="submit" value="">
            </form>
        </div>
    </div>
    <div class="cw-icon">
        <i class="fa fa-shopping-cart mycart"></i>
        <a href="javascript:;">我的购物车</a>
        <i class="ci-count">0</i>
    </div>
</div>


<div class="content clearfix">

    <div class="top-bar-menu">
        <ul class="mainNav">
            <li class="li-item">
                <a href="javascript:;" style="padding-left: 12px;">查看所有分类</a>
                <i class="fa fa-th-list"></i>

                <div class="right-nav">
                    <ul class="clearfix">
                        <li class="title-infomation">女装男装<i class="fa fa-angle-right icon"></i></li>
                        <li><a class="" href="">潮流女装</a></li>
                        <li><a href="">初冬羽绒</a></li>
                        <li><a href="">毛呢大衣</a></li>
                        <li><a href="">温暖毛衣</a></li>
                        <li><a href="">精选男装</a></li>
                    </ul>

                    <ul class="clearfix">
                        <li class="title-infomation">鞋靴箱包 <i class="fa fa-angle-right"></i></li>
                        <li><a href="">短靴</a></li>
                        <li><a href="">男鞋</a></li>
                        <li><a href="">女包</a></li>
                        <li><a href="">男包</a></li>
                        <li><a href="">服饰配件</a></li>
                    </ul>

                    <ul class="clearfix">
                        <li class="title-infomation">运动户外 <i class="fa fa-angle-right"></i></li>
                        <li><a href="">运动服饰</a></li>
                        <li><a href="">户外运动</a></li>
                        <li><a href="">健身装备</a></li>
                        <li><a href="">骑行装备</a></li>
                        <li><a href="">烧烤用具</a></li>
                    </ul>

                    <ul class="clearfix">
                        <li class="title-infomation">手机数码 <i class="fa fa-angle-right"></i></li>
                        <li><a href="">手机</a></li>
                        <li><a href="">平板</a></li>
                        <li><a href="">电脑</a></li>
                        <li><a href="">相机</a></li>
                        <li><a href="">耳机</a></li>
                    </ul>

                    <ul class="clearfix">
                        <li class="title-infomation">生活用品 <i class="fa fa-angle-right"></i></li>
                        <li><a href="">大家电</a></li>
                        <li><a href="">厨房电器</a></li>
                        <li><a href="">生活电器</a></li>
                        <li><a href="">个护电器</a></li>
                        <li><a href="">办公耗材</a></li>
                    </ul>

                    <ul class="clearfix">
                        <li class="title-infomation">护肤彩妆 <i class="fa fa-angle-right"></i></li>
                        <li><a href="">美容护肤</a></li>
                        <li><a href="">强效保养</a></li>
                        <li><a href="">超值彩妆</a></li>
                        <li><a href="">香水</a></li>
                        <li><a href="">洗面奶</a></li>
                    </ul>

                    <ul class="clearfix">
                        <li class="title-infomation">珠宝配饰 <i class="fa fa-angle-right"></i></li>
                        <li><a href="">珠宝首饰</a></li>
                        <li><a href="">时尚饰品</a></li>
                        <li><a href="">品质手表</a></li>
                        <li><a href="">眼睛配饰</a></li>
                        <li><a href="">发饰</a></li>
                    </ul>

                </div>


            </li>
            <li class="li-item-2"><a href="index.html">首页</a></li>
            <li class="li-item-2"><a href="javascript:;">女装男装</a></li>
            <li class="li-item-2"><a href="javascript:;">鞋靴箱包</a></li>
            <li class="li-item-2"><a href="javascript:;">运动户外</a></li>
            <li class="li-item-2"><a href="javascript:;">手机数码</a></li>
            <li class="li-item-2"><a href="javascript:;">生活用品</a></li>
            <li class="li-item-2"><a href="javascript:;">护肤彩妆</a></li>
            <li class="li-item-2"><a href="javascript:;">珠宝配饰</a></li>
        </ul>
    </div>

    <div class="productList">
        <div class="left-information">
            <div class="title-Category">
                女装男装
            </div>
            <ul>
                <li><a href="">潮流女装</a></li>
                <li><a href="">初冬羽绒</a></li>
                <li><a href="">毛呢大衣</a></li>
                <li><a href="">温暖毛衣</a></li>
                <li><a href="">精选男装</a></li>
            </ul>

            <div class="title-Category clearfix">
                鞋靴箱包
            </div>

            <ul>
                <li><a href="">短靴</a></li>
                <li><a href="">男鞋</a></li>
                <li><a href="">女包</a></li>
                <li><a href="">男包</a></li>
                <li><a href="">服饰配件</a></li>
            </ul>

            <div class="title-Category clearfix">
                运动户外
            </div>

            <ul>
                <li><a href="">运动服饰</a></li>
                <li><a href="">户外运动</a></li>
                <li><a href="">健身装备</a></li>
                <li><a href="">骑行装备</a></li>
                <li><a href="">烧烤用具</a></li>
            </ul>

            <div class="title-Category clearfix">
                手机数码
            </div>

            <ul>
                <li><a href="">手机</a></li>
                <li><a href="">平板</a></li>
                <li><a href="">电脑</a></li>
                <li><a href="">相机</a></li>
                <li><a href="">耳机</a></li>
            </ul>

            <div class="title-Category clearfix">
                生活用品
            </div>

            <ul>
                <li><a href="">大家电</a></li>
                <li><a href="">厨房电器</a></li>
                <li><a href="">生活电器</a></li>
                <li><a href="">个护电器</a></li>
                <li><a href="">办公耗材</a></li>
            </ul>

            <div class="title-Category clearfix">
                护肤彩妆
            </div>

            <ul>
                <li><a href="">美容护肤</a></li>
                <li><a href="">强效保养</a></li>
                <li><a href="">超值彩妆</a></li>
                <li><a href="">香水</a></li>
                <li><a href="">洗面奶</a></li>
            </ul>

            <div class="title-Category clearfix">
                珠宝配饰
            </div>

            <ul>
                <li><a href="">珠宝首饰</a></li>
                <li><a href="">时尚饰品</a></li>
                <li><a href="">品质手表</a></li>
                <li><a href="">眼睛配饰</a></li>
                <li><a href="">发饰</a></li>
            </ul>
        </div>
        <div class="right-product">
            <div class="buy-img">
                <img src="../static/img/products/red_clothes.jpg" alt="">
            </div>

            <dt class="right-content">
                <span class="info-title">IEF/爱依服针织衫女2019冬季新款韩版宽松时尚雪花刺绣圆领上衣0N20F-A2216- 红 均码</span>
                <div>浏览量:249次</div>
                <div>喜欢:     <span>0</span>人    <i class="fa fa-heart"></i></div>
                <dl><dd>原 价:<del>￥199.0元</del></dd>
                <dd>新 品 价: <span>￥169.0元</span></dd></dl>
            <div class="outer-cart">
                <div> 购买数量: <input class="sur-input" type="text" value="1"></div>
                <div class="surplus">该商品仅剩8件</div>
                <div class="outer-add">
                    <a class="add-to-cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>加入购物车</span>
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>

</body>
</html>